# Abandoned draft

#### Product Category

We filter the largest 5 categories from the dataset which have at least 50 observations to analyze. We can find the elementary summary statistics for each grouped object.

In [6]:
amazon_clean.groupby("category").count().nlargest(5,"discounted_price")

,discounted_price,actual_price,discount_percentage,rating,rating_count,user_id,review_title
category,,,,,,,
Computers&Accessories|Accessories&Peripherals|Cables&Accessories|Cables|USBCables,233,233,233,233,231,233,233
Electronics|WearableTechnology|SmartWatches,76,76,76,76,76,76,76
Electronics|Mobiles&Accessories|Smartphones&BasicMobiles|Smartphones,68,68,68,68,68,68,68
"Electronics|HomeTheater,TV&Video|Televisions|SmartTelevisions",63,63,63,63,63,63,63
"Electronics|Headphones,Earbuds&Accessories|Headphones|In-Ear",52,52,52,52,52,52,52

In [7]:
amazon_group=amazon_clean.groupby("category")
group_A=amazon_group.get_group("Computers&Accessories|Accessories&Peripherals|Cables&Accessories|Cables|USBCables")
group_A.describe()

,discounted_price,actual_price,discount_percentage,rating,rating_count
count,233.000000,233.000000,233.000000,233.000000,231.000000
mean,360.723691,906.022833,0.593777,4.151931,15358.510823
std,274.435216,509.773729,0.166040,0.229708,25590.685360
min,57.890000,199.000000,0.000000,3.000000,5.000000
25%,199.000000,499.000000,0.520000,4.000000,974.000000
50%,299.000000,845.000000,0.620000,4.200000,6255.000000
75%,399.000000,1099.000000,0.700000,4.300000,18757.000000
max,1599.000000,2100.000000,0.900000,5.000000,178817.000000

In [8]:
group_B=amazon_group.get_group("Electronics|WearableTechnology|SmartWatches")
group_B.describe()

,discounted_price,actual_price,discount_percentage,rating,rating_count
count,76.000000,76.000000,76.000000,76.000000,76.000000
mean,2339.697368,8554.763158,0.698158,4.025000,21637.842105
std,1511.808233,5012.872940,0.134845,0.302049,20554.690401
min,249.000000,999.000000,0.250000,2.800000,37.000000
25%,1599.000000,5999.000000,0.600000,3.900000,5683.750000
50%,1999.000000,7990.000000,0.745000,4.100000,17832.000000
75%,2574.000000,9999.000000,0.780000,4.200000,29471.250000
max,12000.000000,29999.000000,0.910000,4.500000,92588.000000

In [9]:
group_C=amazon_group.get_group("Electronics|Mobiles&Accessories|Smartphones&BasicMobiles|Smartphones")
group_C.describe()

,discounted_price,actual_price,discount_percentage,rating,rating_count
count,68.000000,68.000000,68.000000,68.000000,68.000000
mean,15754.441176,20593.397059,0.232941,4.100000,36665.720588
std,8026.526403,10762.943471,0.087076,0.128132,71144.754784
min,6499.000000,7999.000000,0.000000,3.800000,125.000000
25%,9499.000000,13374.000000,0.190000,4.000000,9499.000000
50%,13999.000000,19249.000000,0.250000,4.100000,18998.000000
75%,17249.000000,24999.000000,0.280000,4.200000,26315.500000
max,44999.000000,74999.000000,0.490000,4.400000,313836.000000

In [10]:
group_D=amazon_group.get_group("Electronics|HomeTheater,TV&Video|Televisions|SmartTelevisions")
group_D.describe()

,discounted_price,actual_price,discount_percentage,rating,rating_count
count,63.000000,63.000000,63.000000,63.000000,63.000000
mean,24840.190476,40132.841270,0.382857,4.209524,12067.920635
std,14207.599953,21840.697881,0.121899,0.169167,14074.047960
min,7299.000000,12999.000000,0.000000,3.400000,64.000000
25%,13744.500000,22945.000000,0.310000,4.200000,1532.500000
50%,21999.000000,34999.000000,0.390000,4.200000,6088.000000
75%,32494.500000,49999.500000,0.445000,4.300000,18775.500000
max,77990.000000,139900.000000,0.650000,4.700000,45238.000000

In [17]:
group_E=amazon_group.get_group("Electronics|Headphones,Earbuds&Accessories|Headphones|In-Ear")
group_E.describe()

,discounted_price,actual_price,discount_percentage,rating,rating_count
count,52.000000,52.000000,52.000000,52.000000,52.000000
mean,976.173077,2960.076923,0.582692,3.898077,80864.211538
std,733.980010,2868.726423,0.194403,0.228799,96754.602884
min,149.000000,399.000000,0.000000,3.400000,206.000000
25%,453.500000,999.000000,0.492500,3.700000,9420.250000
50%,844.000000,1945.000000,0.625000,3.900000,42669.000000
75%,1399.000000,3992.250000,0.692500,4.100000,112264.500000
max,4790.000000,15990.000000,0.850000,4.200000,363713.000000

## multiple regression model

In [ ]:
multi_lr_model = linear_model.LinearRegression()

multi_lr_model.fit(X = X_train[['discount_percentage', 'discounted_price', 'rating']],
                   y = y_train)
beta_0_multi = multi_lr_model.intercept_
beta_1_multi = multi_lr_model.coef_[0]
beta_2_multi = multi_lr_model.coef_[1]
beta_3_multi = multi_lr_model.coef_[2]

print(f"Fit model: rating_count = {beta_0_multi} + {beta_1_multi:.4f} discount_percentage + {beta_2_multi:.4f} discounted_price + {beta_3_multi:.4f} rating")

In [ ]:
from mpl_toolkits.mplot3d import Axes3D

# Create outcome variable z with explanatory variables x and y
x = amazon_clean['discount_percentage']
y = amazon_clean['rating']
z = amazon_clean['rating_count']

# Fit values using the regression model
fit = beta_0_multi + beta_1_multi*x + beta_2_multi*y

# Create a 3D figure
fig = plt.figure(figsize=(16,16))
ax = fig.add_subplot(111, projection='3d')

# Plot the data as points
ax.scatter(x, y, z, alpha =0.5)

# Plot fitted values
# x_range = np.arange(x.min(), x.max())
# y_range = np.arange(y.min(), y.max())
# X, Y = np.meshgrid(x_range, y_range)
# fit = beta_0_multi + beta_1_multi*X + beta_2_multi*Y
# ax.plot_surface(x, y, fit, alpha=0.5)

# Set the axis labels
ax.set_xlabel('Discount Percentage')
ax.set_ylabel('Rating')
ax.set_zlabel('Rating Count')

# Show the plot
plt.show()

(Unimportant claim: Since the 3D plot of a regression tree is strictly beyond the scope of the coding part of this course, we refer to some good examples from the Internet to write the codes below in order to showcase the fitted trees in our model. Some functions like `np.meshgrid`, `np.column_stack` and `.ravel()` are also beyond the scope of this course, we might not know the exact meaning of those functions but just follow the logic and steps from those online examples and tutorials to complete our codes. All the resources we used are included in the **Reference** section ([5] [6] [7]) of this project at the end. The main focus of this section is visualization rather than the actual codes, while we indeed write these and make sure they fit our data.)